SECRET_KEY = "ee8a2c9c624e8a3cca537d8a43f536fdf6911c73895d759a3c728b0ef6da1c89"
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 30
REFRESH_TOKEN_EXPIRE_MINUTES = -1 
OPENROUTER_API_KEY = "" #
GOOGLE_API_KEY = "AIzaSyD01h398tvDG0s1YQ9_46QYbQsP0UZx5RE" #